<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{{head}}}
    <link rel="stylesheet" href="/css/style.css">
    <title>post it</title>
    <script src="/js/script.js"></script>
</head>
<body>
    <header class="row justify-between align-center">
    <a href="/">
    <h3> Post it</h3>
    </a>
    <nav class="row align-center">
      {{#if user}}
      <a href="/post">post</a>
      <a href="/profile">profile</a>
      <a href="/logout">Logout</a>
      {{else}}
      <a href="/register">Register</a>
      <span>or</span>
      <a href="/login">Login</a>
      {{/if}}

    </nav>
  </header>
    {{{body}}}

</body>
</html>