 <section class="this">
    <form action="/register" method="POST">
    <input type="text" name="username" placeholder="enter username"id="password">
        <input type="text" name ="email" placeholder="enter email" id="email">
        <input type="text" name="password" placeholder="enter password"id="password">
        <button class="sub">submit</button>
    </form>

    <script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>
<!-- <script src="js/script.js"></script> -->
