* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  a{
    color: #333;
    text-decoration:  none;
  }
  
  body {
    font-family: sans-serif;
  }
  
  .row, .column {
    display: flex;
  }
  
  .column {
    flex-direction: column;
  }
  
  .justify-between {
    justify-content: space-between;
  }
  
  .align-center {
    align-items: center;
  }
  
  .text-center {
    text-align: center;
  }
  
  header {
    background: #555;
    color: #fff;
    padding: 8px 5%;
    margin-bottom: 35px;
  }
  
  header nav a {
    color: #fff;
    text-decoration: none;
  }
  
  header nav > *:not(:last-child) {
    margin-right: 5px;
  }
  
  form {
    width: 380px;
    display: flex;
    flex-direction: column;
    margin: 35px auto 0;
  }
  
  form h1 {
    text-align: center;
  }
  
  form > * {
    padding: 7px 10px;
    margin: 5px 0;
  }
  .border{
    width: 300px;
    height: 150px;
    border: 2px black solid;
    border-radius: 10px;
  }
  .comment{
    border: solid 2px gray;
    margin-top: 5px;
    width:300px;
    text-align: center;
    left: 50%;
  }